h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: 900;
    color: white;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-style: italic;
    margin: 0px;
}

p {
    font-family: "Open Sans";
    text-align: left;
}

div {
    margin: 10px;
    padding: 10px;
}

#SelloW3C {
    margin: 40px;
    text-align: center;
}

#contPrincipal {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    background-color: #0C2D48;
}

.NivEducativo {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    width: 800px;
    height: 480px;
    position: relative;
    background-color: #B1D4E0;
}

.NivEducativoContenido {
    width: 527px;
    height: 395px;
}

.logoEscuela {
    padding: 0px;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 37px;
    left: 568px;
}

.logoEscuela img {
    height: 100%;
}

.fotoEscuela {
    padding: 0px;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 252px;
    left: 568px;
}

.fotoEscuela img {
    width: 100%;
}